<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/poster_doacoes.jpeg" class="d-block w-50 m-auto" alt="donativos_1">
      <div class="carousel-caption d-none d-md-block w-25 m-auto">
        <p>Distribuição de alimentos todos os Domingos de manhã</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/poster_doacoes_2.jpeg" class="d-block w-50 m-auto" alt="donativos_2">
      <div class="carousel-caption d-none d-md-block w-25 m-auto">
        <p>O que é pouco para você pode ser muito para outros.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/poster_doacoes_3.jpeg" class="d-block w-50 m-auto" alt="donativos_3">
      <div class="carousel-caption d-none d-md-block w-25 m-auto">
        <p>Centenas de pessoas recebem as doações toda semana!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
