<section class="bg-section1">
  <div class="container">
    <h1 class="text-center p-5">Projeto Café do Amanhã - Ribeirão Preto</h1>
    <div class="row align-items-center pb-5">
      <div class="col-md-6">
        <p class="align-middle">
          O Projeto Café do Amanhã foi criado em 29 de março de 2020. Um grupo
          de voluntários mobilizados a atender pessoas em estado de
          vulnerabilidade social, distribuindo alimentos e cobertores. A
          principal motivação dessa iniciativa está relacionada ao
          reconhecimento da dor do outro. Esse "outro" é você, eu, cada um de
          nós. Quando acolhemos o outro estamos o ajudando a ser transformado.
          Para isso acontecer contamos com você. A sua doação nos ajudará na
          manutenção do projeto.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="img-thumbnail"
          src="/assets/img/paes.jpeg"
          alt="imagem_capa"
          style="width: 50%"
        />
      </div>
    </div>
  </div>
</section>
<section id="bg-white">
  <div class="container">
    <h1 class="text-center p-5">Distribuição todos os Domingos</h1>
    <div class="row align-items-center pb-5">
      <div class="col-md-6 text-center">
        <img
          class="img-thumbnail"
          src="/assets/img/cobertores.png"
          alt="imagem_capa"
          style="width: 50%"
        />
      </div>
      <div class="col-md-6">
        <p class="align-middle">
          O Projeto Café do Amanhã distribui alimentos todos os Domingos ao lado
          do Mercadão Central e em frente a Catedral Metropolitana de São
          Sebastião em Ribeirão Preto. Além de alimentos, eventualmente, também
          são distribuídos cobertores e materiais de higiene pessoal.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-section3">
  <div class="container">
    <h1 class="text-center p-5">Produtos doados toda semana</h1>
    <div class="row align-items-center pb-5">
      <div class="col-md-6">
        <ul>
          <li>16L de leite</li>
          <li>2Kg de achocolatado ou 1Kg de café</li>
          <li>100 pães</li>
          <li>1Kg de margarina ou requeijão</li>
          <li>16 pacotes de biscoitos doces e salgados</li>
          <li>
            100 porções de algum dos seguintes itens (alternados nas semanas):
            <ul>
              <li>Bolo</li>
              <li>Canjica</li>
              <li>Arroz doce</li>
              <li>Salada de batata</li>
              <li>Salada de frutas</li>
            </ul>
          </li>
          <li>
            Embalagens descartáveis:
            <ul>
              <li>100 copos (200 mL)</li>
              <li>100 potes (250 mL)</li>
              <li>100 colheres de sobremesa</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="img-thumbnail"
          src="/assets/img/comidas.jpeg"
          alt="imagem_capa"
          style="width: 50%"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-section2">
  <div class="container">
    <h1 class="text-center p-5">Você pode contribuir!</h1>
    <div class="row align-items-center pb-5">
      <div class="col-md-6 text-center">
        <img
          class="img-thumbnail"
          src="/assets/img/higiene.png"
          alt="imagem_capa"
          style="width: 50%"
        />
      </div>
      <div class="col-md-6">
        <ul>
          <li>Você tem roupas que não servem ou não usa mais?</li>
          <li>
            Seus filhos tem brinquedos que não estão mais sendo utilizados?
          </li>
          <li>Você gostaria de doar algum tipo de alimento ou produto?</li>
          <li>
            Ou gostaria de participar da distribuição dos alimentos aos domingos
            de manhã?
          </li>
        </ul>
        <p>
          Você também pode contribuir! <br />A sua doação nos ajudará na
          manutenção do projeto. <br />Conheça mais e entre em contato nos
          canais abaixo!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-section_foot">
  <div class="container">
    <h1 class="text-center p-5">Contatos</h1>
    <div class="row align-items-center pb-5">
      <div class="col-xxl-4">
        <ul class="text-light list-unstyled">
          <li>
            <a
              class="text-decoration-none text-light"
              href="https://www.instagram.com/projetocafedoamanha/"
              target="_blank"
            >
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram:
              <br />www.instagram.com/projetocafedoamanha
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xxl-4">
        <ul class="text-light list-unstyled">
          <li>
            <a
              class="text-decoration-none text-light"
              href="https://www.facebook.com/ProjetoCafeDoAmanhaRP"
              target="_blank"
            >
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook:
              <br />www.facebook.com/ProjetoCafeDoAmanhaRP
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xxl-4">
        <ul class="text-light list-unstyled">
          <li>
            <a class="text-decoration-none text-light">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              WhatsApp:
              <br />Vaninha - (16) 9 8836 6318
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
